@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');


*{
  font-family: 'Yuyu', sans-serif;
}
body, html {

  /* font-family: 'Yuyu', sans-serif; */
  font-style: normal;
  height: 100%;
  overflow: hidden;
}

:root {
  --header-min-height: 70px;
  --footer-min-height: 60px;
  --global-padding:20px;
  --border-margin: 24px;

  /* Shared base theme colors */
  --color-blue: #3b82f6;
  --color-yellow: #eab308;
  --color-purple: #a855f7;
  --color-green: #22c55e;
}